<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container my-5 text-center">
    <div class="jumbotron border border-success">
        <h1>Vote for the Game: <strong>Sekiro</strong></h1>
        <p class="text-secondary">show your view relating to this game about</p>
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item">FREEDOM</li>
            <li class="list-group-item">PICTURE QUALITY</li>
            <li class="list-group-item">STORY NARRATIVE</li>
            <li class="list-group-item">PHILOSOPHY OF ART</li>
        </ul>
        <a th:href="@{/vote}" class="mt-5 btn btn-success" role="button">Customize My Options</a>
    </div>
</div>

</body>
</html>