<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vote Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container my-5">
    <div class="jumbotron border border-primary">

        <h1>Demonstration How You Like the Game: <strong>Sekiro</strong></h1>
        <p class="vote-timer-container text-secondary">Remaining time: <span class="vote-timer">20</span> second</p>

        <form th:action="@{/votepost}" method="POST">

            <div class="form-group my-5" th:each="optionsForAQ : ${optionsMap}">
                <h4 th:text="${optionsForAQ.key.question_name}">QUESTION NAME HERE</h4>
                <div class="form-check" th:each="option : ${optionsForAQ.value}">
                    <input type="radio" class="form-check-input" th:id="'question' + ${optionsForAQ.key.id} + 'option' + ${option.id}" th:name="${optionsForAQ.key.id}+ '#' +${optionsForAQ.key.question_name}" th:value="${option.id}+ '#' +${option.option_content}">
                    <label class="form-check-label" th:for="'question' + ${optionsForAQ.key.id} + 'option' + ${option.id}" th:text="${option.option_content}"></label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">提交</button>
            <button type="reset" class="btn btn-secondary">重置</button>

        </form>

    </div>
</div>





</body>

<script type="text/javascript">

    $(function() {

        const voteTimer = setInterval(function () {
            let currentTime = $(".vote-timer").text();
            $(".vote-timer").text(parseInt(currentTime) - 1);
        }, 1000);

        const voteTimeout = setTimeout(cancelVoteAccess, 20000);

        let now = new Date().getTime();
        let startTime = localStorage.getItem("startTime");

        if (localStorage.getItem("startTime") == null) {
            localStorage.setItem("startTime", now);
        } else {
            if ((now - startTime) >= 20000) {
                $(".vote-timer").text(0);
                cancelVoteAccess();
                localStorage.removeItem("startTime");
            }
        }

        function cancelVoteAccess() {
            clearInterval(voteTimer);
            $(".form-submit-btn").attr("disabled", "disabled");
        };



    });

</script>


</html>