<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Vote Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container my-5">
    <div class="jumbotron bg-light border border-primary">

        <h1>Demonstration How You Like the Game: <strong>Sekiro</strong></h1>
        <div class="progress">
            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" id="vote-timer" style="width: 100%;"></div>
        </div>

        <form th:action="@{/votepost}" method="POST">

            <div class="form-group my-5" th:each="optionsForAQ : ${optionsMap}">
                <h4 th:text="${optionsForAQ.key.question_name}">QUESTION NAME HERE</h4>
                <div class="form-check" th:each="option : ${optionsForAQ.value}">
                    <input type="radio" class="form-check-input" th:id="'question' + ${optionsForAQ.key.id} + 'option' + ${option.id}" th:name="${optionsForAQ.key.id}+ '#' +${optionsForAQ.key.question_name}" th:value="${option.id}+ '#' +${option.option_content}">
                    <label class="form-check-label" th:for="'question' + ${optionsForAQ.key.id} + 'option' + ${option.id}" th:text="${option.option_content}"></label>
                </div>
            </div>

            <button class="btn btn-primary" id="submit-btn" type="submit">提交</button>
            <button class="btn btn-secondary" type="reset" >重置</button>

        </form>

    </div>
</div>





</body>

<script type="text/javascript">

    $(function() {

        let remainingTime = 100
        const voteTimer = setInterval(function () {
            remainingTime -= 5;
            $("#vote-timer").attr("style", "width:" + remainingTime.toString() +"%;");
        }, 1000);

        const voteTimeout = setTimeout(cancelVoteAccess, 20000);

        let now = new Date().getTime();
        let startTime = localStorage.getItem("startTime");

        if (localStorage.getItem("startTime") == null) {
            localStorage.setItem("startTime", now);
        } else {
            if ((now - startTime) >= 20000) {
                $("#vote-timer").attr("style", "width: 0%;");
                cancelVoteAccess();
                localStorage.removeItem("startTime");
            }
        }

        function cancelVoteAccess() {
            clearInterval(voteTimer);
            $("#submit-btn").attr("disabled", "disabled");
        }



    });

</script>


</html>